.future-booking-all-div {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.future-booking-container>span {
    font-size: 1.25rem;
    font-weight: 500;
}

.future-booking-single-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    max-height: 14.5rem;
    height: 16rem;
    font-size: 0.875rem;
    line-height: 1.43;
    border-radius: 0.75rem;
    box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.2);
}

.future-booking-single-top,
.future-booking-single-left,
.future-booking-single-right {
    flex-basis: 50%;
    position: relative;
}

.future-booking-single-left {
    padding: 1.5rem;
    box-sizing: border-box;
}

.future-booking-single-left-top {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.s-city {
    font-size: 1.625rem;
    font-weight: 500;
}

.future-booking-single-left-bottom {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 4rem;
    width: 100%;
    height: 5rem;
}

.s-range {
    padding-right: 1.5rem;
    width: 25%;
}

.s-location-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    width: 75%;
    border-left: 1px solid #DDDDDD;
}

.future-booking-single-left-bottom .s-range,
.future-booking-single-left-bottom .s-location-wrapper {
    font-size: 1.125rem;
    white-space: pre-line;
}

.s-country,
.future-booking-single-left-bottom .s-range > span {
    font-size: 0.875rem;
}


.future-booking-single-right-mobile span,
.future-booking-single-right span {
    position: absolute;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    min-height: 1.625rem;
    height: 1.625rem;
    min-width: 5.875rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    top: 0.5rem;
    left: 0.5rem;
}

.future-booking-single-right img {
    width: 100%;
    height: 100%;
    max-height: 14.5rem;
    object-fit: cover;
    border-radius: 0 0.75rem 0.75rem 0;
}

.future-booking-all-div-mobile {
    display: none;
}

@media (max-width: 800px) {
    .future-booking-all-div {
        display: none;
    }

    .future-booking-all-div-mobile {
        display: block;
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .future-booking-single-div-mobile {
        display: flex;
        flex-direction: column;
        max-height: 23rem;
        box-sizing: border-box;
        font-size: 0.875rem;
        line-height: 1.43;
        border-radius: 0.75rem;
        box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.2);
    }

    .future-booking-single-right-mobile {
        position: relative;
        width: 100%;
        max-height: 10rem;
    }

    .future-booking-single-right-mobile img {
        width: 100%;
        max-height: 10rem;
        object-fit: cover;
        border-radius: 0.75rem 0.75rem 0 0;
    }

    .future-booking-single-left-mobile {
        padding: 1.5rem;
        box-sizing: border-box;
    }

    .future-booking-single-left-top-mobile,
    .future-booking-single-left-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .future-booking-single-left-top-mobile {
        padding-bottom: 1.5rem;
    }

    .future-booking-single-left-bottom-mobile {
        border-top: 1px solid #DDDDDD;
        padding-top: 1.5rem;
        display: flex;
        box-sizing: border-box;
    }

    .future-booking-single-left-bottom-mobile .s-range {
        width: 15%;
        display: flex;
        flex-direction: column;
    }

    .future-booking-single-left-bottom-mobile .s-location-wrapper {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 550px) {

    .future-booking-single-div-mobile {
        max-height: unset;
    }

}