#modalWhole {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: white;
    height: 100%;
}

#modalWhole-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: white; */
    height: 100%;
}

#modalWhole-content {
    outline: 1px solid green;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}