.all-reviews-wrapper {
    margin: 24px auto;
    max-width: 1760px;
}

.all-reviews-sub-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
    overflow: hidden;
    max-width: 80%;
}

.all-reviews-header-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.spot-image-spot-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    column-gap: 16px;
    padding: 24px;
    border-bottom: 1px solid #dddddd;
    max-height: 200px;
    text-overflow: ellipsis;
}

/* .review-buttons-wrapper {
    margin: 10px 16px;
    flex-basis: 1;
    flex-basis: 20%;
} */

/* .review-modify-buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid #222222;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
} */

.spot-image-user-reviews {
    /* outline: 1px solid black; */
    /* width: 8%; */
    max-width: 75px;
    flex-basis: 15%;
}

.spot-image-user-reviews .image-div {
    max-width: 100%;
    border-radius: 50%;
}

.single-reviews-wrapper.my-reviews {
    margin-right: unset;
    text-overflow: ellipsis;
}

.reviewer-review {
    text-overflow: ellipsis;
}

.review-delete {
    padding-top: 0px;
    background: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

@media (max-width: 375px) {
    .spot-image-user-reviews {
        display: none;
    }
}