.button-div {
    margin-top: 16px;
    margin-bottom: 24px;
}

.button-div button {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    outline: none;
    padding: 14px 24px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    border: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 8px;
}

.button-div button:disabled {
    background: rgb(113, 113, 113)
}

.outer-span {
    /* border: 1px solid black; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.inner-span {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 200px;
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 1.25s ease 0s;
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
}

.inner-span:hover {
    opacity: 1;
}

.lower-span {
    display: block;
    position: relative;
    pointer-events: none;
    font-size: 16px;
}