.image-wrapper {
    /* outline: 1px solid salmon; */
    margin: 0 auto;
    width: min(75%, 1440px);
    display: flex;
    flex-direction: column;
}

.fa-solid.fa-chevron-left.all-photos.add-photos-backicon {
    margin-left: 0;
}

.head-buttons-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.head-buttons-wrapper h3 {
    font-size: 26px;
    font-weight: 500;
    flex-grow: 1;
    margin-left: 1rem;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.image-upload-button {
    width: 96px;
    height: 46px;
}

.image-upload-button .button-div {
    margin: 0;
}

#image-add-photo {
    display: none;
}

.image-upload-photos {
    width: 100%;
    margin: 0 auto;
}

.image-upload-photos-sub {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.drag-and-drap-wrapper {
    margin-top: 2rem;
    border: 1px dashed rgb(176, 176, 176);
    width: 100%;
    max-height: 450px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-drop-icon {
    width: 64px;
    height: 64px;   
}

.drag-drop-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.image-input-button {
    margin-top: 1.5rem;
    cursor: pointer;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 0.5rem;
    background: white;
    padding: 12px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.image-input-button:hover {
    background-color: #f7f7f7;
    color: black;
    border-radius: black;
}

.upload-image-single-div {
    position: relative;
}

.single-image-div-delete-icon {
    border: 1px solid rgb(34, 34, 34);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.single-image-div-delete-icon:hover {
    background-color: #f7f7f7;
}

.fade-in-out {
    animation: fadeInOut 4s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}