.owner-spots-wrapper {
    /* outline: 1px solid rebeccapurple; */
    width: 100%;
    margin: 24px auto;
    max-width: 1760px;
    font-family: inherit;
}

.owner-spots-sub-wrapper {
    /* outline: 1px solid yellowgreen; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-div {
    /* outline: 1px solid purple; */
    display: flex;
    justify-content: space-between;
}

.header-create-wrapper {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.owner-spots-sub-wrapper h4 {
    /* outline: 1px solid salmon; */
    padding-left: 10px;
}

.modify-buttons.single-button {
    /* outline: 1px solid salmon; */
    height: fit-content;
    border: 1px solid #222222;
    border-radius: 8px;
}

.modify-button-div {
    margin: 4px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid #222222;
    border-radius: 8px;
    overflow: hidden;
    width: 6.5rem;
    max-width: 6.5rem;
}

.modify-buttons {
    border: none;
    background: white;
    padding: 7px 15px;
    cursor: pointer;
}

.modify-buttons.first {
    border-bottom: 1px solid #222222;
}

.modify-buttons:hover {
    background-color: #f7f7f7;
    color: black;
    border-color: black;
}

/* ------------------------ table------------------------ */
.owner-spots-table {
    width: 100%;
    display: inline-table;
    border-collapse: collapse;
    position: relative;
}

.owner-spots-table thead {
    box-sizing: border-box;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    position: sticky;
    top: 0px;
    background-color: white;
}

.owner-spots-table th {
    padding: 10px;
}

.owner-spots-table td {
    padding: 16px 8px;
    font-size: 0.8rem;
}

.td-listing {
    width: 15rem;
    max-width: 15rem;
}

.td-to-do {
    width: 10rem;
    max-width: 10rem;
}

.owner-spots-header-row {
    /* outline: 1px solid salmon; */
    font-size: 14px;
    color: #717171;
    text-align: left;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.owner-spots-table tr {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.table-image-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    max-width: 15rem;
}

.table-image-div {
    border-radius: 4px;
    min-width: 56px;
    height: 40px;
    width: 56px;
    overflow: hidden;
}

.table-image-div img {
    object-fit: cover;
    vertical-align: bottom;
    height: 100%;
}

#delete-message {
    /* outline: 1px solid salmon; */
    margin: 0;
    padding-bottom: 16px;
    padding-left: 10px;
}

.fadeOut {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fadeIn {
    opacity: 1;
    transition: opacity 1s;
}

@media (min-width: 1128px) {
    .table-div {
        max-width: 67%;
    }
}

.table-image-wrapper a {
    text-decoration: none;
}

.ownerspots-no-image {
    padding: 0 4px;
}