.all-spots-wrapper {
    margin: 24px 0px;
}

.all-spots-sub-wrapper {
    display: flex;
    column-gap: 16px;
    row-gap: 32px;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.link-wrapper {
    box-sizing: border-box;
    max-width: calc((100% - 80px) / 6);
    flex-basis: calc((100% - 80px) / 6);
    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none;
    color: inherit;
}

.individual-spot-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-div {
    /* outline: 1px solid salmon; */
    flex-basis: 80%;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.05/1;
}

.image-div > img,
.pictures-div-wrapper > img {
    object-fit: cover;
    vertical-align: bottom;
    height: 100%;
}

.short-info-wrapper {
    padding: 6px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 0.8rem;
}

.cityState {
    font-weight: 600;
    color: #222222;
}

.rating-wrapper {
    position: absolute;
    top: 6px;
    right: 0;
    display: flex;
    align-items: center;
}

.rating-wrapper > i,
.title-div-wrapper > i {
    font-size: 0.7rem;
    margin-right: 4px;
}

/* ------------- Spot Details -------------- */
.title-div-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #222222;
    font-weight: 500;
}

.title-div-wrapper > a {
    color: inherit;
}

.pictures-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    overflow: hidden;
}

.pictures-big,
.pictures-small {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.pictures-big {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pictures-small {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    row-gap: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pictures-div-wrapper .image-div {
    /* outline: 1px solid salmon; */
    border-radius: unset;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.pictures-small .image-div {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
}

/* ------------ Spot Info ------------ */
.info-booking-wrapper {
    /* outline: 1px solid blue; */
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem 0px;
    border-bottom: 1px solid #dddddd;
}

.spot-info-wrapper {
    max-width: 58.33%;
}

.spot-info-wrapper .hostName {
    outline: 1px solid salmon;
}

.spot-info-wrapper .hostName h4 {
    padding-bottom: 1rem;
    margin: 0;
}

.info-detail-wrapper {
    padding: 1rem 0;
    border-top: 1px solid #dddddd;
}

.booking-form-wrapper {
    outline: 1px solid seagreen;
    margin-left: 8.33%;
    width: 33.33%;
    position: relative;
}

.booking-form-sub-wrapper {
    position: sticky;
    z-index: 1;
    top: 80px
}

.booking-form {
    outline: 1px solid greenyellow;
    height:  100%;
}

/* ------------- OwnerSpots ----------------- */
.owner-spots-wrapper {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.modify-button-div {
    margin: 4px 0px;
}

.modify-buttons {
    border: none;
    background: white;
    padding: 0;
}