.all-spots-wrapper {
    max-width: 1760px;
    width: 100%;
    margin: 24px auto;
}

.single-spot-wrapper {
    max-width: 1120px;
    width: 100%;
    margin: 24px auto;
}

.all-spots-sub-wrapper {
    display: flex;
    column-gap: 16px;
    row-gap: 32px;
    flex-wrap: wrap;
    box-sizing: content-box;
}

/* this is for screen 1880px higher, from here goes down */
.link-wrapper {
    box-sizing: border-box;
    max-width: calc((100% - 80px) / 6);
    flex-basis: calc((100% - 80px) / 6);
    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none;
    color: inherit;
}

.individual-spot-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-div {
    /* outline: 1px solid salmon; */
    flex-basis: 80%;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.05/1;
}

.image-div > img,
.pictures-div-wrapper > img {
    object-fit: cover;
    vertical-align: bottom;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.short-info-wrapper {
    padding: 6px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    /* font-size: 0.8rem; */
}

.cityState {
    font-weight: 500;
    color: #222222;
}

.rating-wrapper {
    position: absolute;
    top: 6px;
    right: 0;
    display: flex;
    align-items: center;
}

.rating-wrapper > i,
.title-div-wrapper > i {
    font-size: 0.7rem;
    margin-right: 4px;
}

/* ------------- Spot Details -------------- */
.title-div-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #222222;
    font-weight: 500;
}

.title-div-wrapper > a {
    color: inherit;
}

@media (max-width: 1880px) {
    .link-wrapper {
        max-width: calc((100% - 64px) / 5);
        flex-basis: calc((100% - 64px) / 5);
    }
}

@media (max-width: 1640px) {
    .link-wrapper {
        max-width: calc((100% - 48px) / 4);
        flex-basis: calc((100% - 48px) / 4);
    }
}

@media (max-width: 1128px) {
    .link-wrapper {
        max-width: calc((100% - 32px) / 3);
        flex-basis: calc((100% - 32px) / 3);
    }

    .airbnb-text-air,
    .airbnb-text-bnb {
        outline: 1px solid salmon;
        display: none;
    }
}

@media (max-width: 950px) {
    .link-wrapper {
        max-width: calc((100% - 16px) / 2);
        flex-basis: calc((100% - 16px) / 2);
    }
}

@media (max-width: 550px) {
    .link-wrapper {
        max-width: 100%;
        flex-basis: 100%;
    }
}