.info-booking-wrapper {
    /* outline: 1px solid blue; */
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem 0px;
    border-bottom: 1px solid #dddddd;
}

.single-spot-sub-wrapper h3 {
    font-size: 26px;
    margin-bottom: 16px;
}

.review-title-wrapper,
.title-div-wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.single-spot-sub-wrapper p {
    margin: 0;
    text-overflow: ellipsis;
}

.spot-info-wrapper {
    max-width: 58.33%;
}

.spot-info-wrapper .hostName {
    /* outline: 1px solid salmon; */
}

.date-calendar-wrapper {
    outline: 1px solid slateblue;
    margin-top: 16px;
}

.reviews-wrapper h4,
.spot-info-wrapper h4 {
    margin: 0;
    font-size: 22px;
}

.hostName {
    padding: 24px 0px 24px 0px;
}

.info-detail-wrapper {
    padding: 32px 0;
    border-top: 1px solid #dddddd;
}

.info-detail-wrapper p {
    width: 100%;
    word-wrap: break-word;
    white-space: normal
}

.booking-form-wrapper {
    /* outline: 1px solid seagreen; */
    margin-left: 8.33%;
    width: 33.33%;
    position: relative;
}

.booking-form-sub-wrapper {
    position: sticky;
    z-index: 0;
    top: 128px;
}

.booking-form {
    /* outline: 1px solid greenyellow; */
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    height: 100%;
    margin-bottom: 24px;
}

.aircover-img {
    height: 26px;
    width: auto;
    margin-bottom: 16px;
}

.reviews-wrapper {
    /* outline: 1px solid blue; */
    padding: 32px 0px;
}

.reviews-sub-wrapper {
    margin-bottom: 20px;
}

/* // images */

.pictures-div-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    overflow: hidden;
}

.pictures-big,
.pictures-small {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.pictures-big {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pictures-small {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    row-gap: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pictures-div-wrapper .image-div {
    /* outline: 1px solid salmon; */
    border-radius: unset;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.pictures-small .image-div {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
}

.no-image-div {
    background-color: #dddddd;
    color: white;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-calendar-span {
    font-size: 0.9rem;
    color: #717171;
    margin-top: 8px;
    margin-bottom: 16px;
}

/* // all images */
.show-all-images {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.fa-solid.fa-ellipsis-vertical {
    margin-right: 1px;
}

.fa-solid.fa-ellipsis-vertical.last-dots {
    margin-right: 7px;
}

.signle-spot-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 740px) {
    .signle-spot-header-wrapper {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    .signle-spot-header-wrapper h3 {
        margin-bottom: 0px;
    }

    .pictures-big,
    .pictures-small,
    .booking-form-wrapper {
        display: none !important;
    }

    .pictures-single-mobile {
        display: block !important;
    }

    .image-div-mobile img {
        border-radius: 8px !important;
    }   

    .spot-info-wrapper {
        max-width: 100%;
    }

    .pictures-small,
    .pictures-div-wrapper {
        column-gap: 8px;
        row-gap: 8px;
    }

    .pictures-big, 
    .pictures-small {
        max-width: calc((100% - 8px) / 2);
        flex-basis: calc((100% - 8px) / 2);
    }

    .pictures-small .image-div {
        max-width: calc((100% - 8px) / 2);
        flex-basis: calc((100% - 8px) / 2);
    }

    .title-div-wrapper-mobile,
    .signle-spot-header-wrapper-mobile {
        display: block !important;
    }

    .signle-spot-header-wrapper-mobile h3 {
        margin-top: 24px !important;
        margin-bottom: 8px !important;
        font-size: 1.5rem !important;
        font-weight: 500 !important;
    }

    .reviews-wrapper h4,
    .info-detail-wrapper h4 {
        margin-bottom: 8px !important;
        font-size: 1.5rem !important;
        font-weight: 500 !important;
    }    

    .title-div-wrapper-mobile {
        /* border-bottom: 1px solid #dddddd; */
        padding-bottom: 24px;
    }

    .signle-spot-header-wrapper-mobile {
        margin-bottom: 8px;
    }

    .info-booking-wrapper {
        padding-top: 0px !important;
    }

    .hostName {
        display: none !important;
    }

    .info-detail-wrapper {
        padding: 24px 0px;
    }

    .pictures-in-mobile {
        display: grid !important;
        gap: 8px !important;
        grid-template-columns: 1fr !important;
        box-sizing: border-box !important;
        position: relative;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 24px;
    }

    .pictures-in-mobile .review-modify-buttons.show-all-images {
        bottom: 48px;
    }

    .image-div-mobile img,
    .pictures-big-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pictures-big-mobile.upper img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden !important;
    }

    .pictures-big-mobile.lower img {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden !important;
    }

    .pictures-small-mobile {
        display: grid !important;
        grid-auto-columns: 1fr !important;
        grid-auto-rows: 1fr !important;
        gap: 8px !important;
        grid-template-columns: 1fr 1fr !important;
    }
    
    .image-div-mobile-middle-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .image-div-mobile-middle-left {
        grid-area: 1 / 1 / span 2 / auto;
    }
    
    .image-div-mobile-middle-right-one {
        grid-area: 1 / 2 / auto / auto;
    }

    .image-div-mobile-middle-right-one img,
    .image-div-mobile-middle-right-two img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-div-mobile-middle-right-two {
        grid-area: 2 / 2 / auto / auto;
    }

    .calendar-datepicker-wrapper {
        display: flex;
        justify-content: center;
    }

    .booking-form-wrapper-mobile {
        display: block !important;
        height: 80px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px;
        background-color: lightgray;
        position: sticky;
        bottom: 16px;
    }
}

.booking-form-wrapper-mobile,
.pictures-single-mobile,
.pictures-in-mobile,
.title-div-wrapper-mobile,
.signle-spot-header-wrapper-mobile {
    display: none;
}

.location-mobile {
    display: inline-block;
    padding-top: 8px;
}