.info-booking-wrapper {
    /* outline: 1px solid blue; */
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem 0px;
    border-bottom: 1px solid #dddddd;
}

.single-spot-sub-wrapper h3 {
    font-size: 26px;
    margin-bottom: 16px;
}

.review-title-wrapper,
.title-div-wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.single-spot-sub-wrapper p {
    margin: 0;
    text-overflow: ellipsis;
}

.spot-info-wrapper {
    max-width: 58.33%;
}

.spot-info-wrapper .hostName {
    /* outline: 1px solid salmon; */
}

.date-calendar-wrapper {
    outline: 1px solid slateblue;
    margin-top: 16px;
}

.reviews-wrapper h4,
.spot-info-wrapper h4 {
    margin: 0;
    font-size: 22px;
}

.hostName {
    padding: 24px 0px 24px 0px;
}

.info-detail-wrapper {
    padding: 32px 0;
    border-top: 1px solid #dddddd;
}

.info-detail-wrapper p {
    width: 100%;
    word-wrap: break-word;
    white-space: normal
}

.booking-form-wrapper {
    /* outline: 1px solid seagreen; */
    margin-left: 8.33%;
    width: 33.33%;
    position: relative;
}

.booking-form-sub-wrapper {
    position: sticky;
    z-index: 0;
    top: 128px;
}

.booking-form {
    /* outline: 1px solid greenyellow; */
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    height: 100%;
    margin-bottom: 24px;
}

.aircover-img {
    height: 26px;
    width: auto;
    margin-bottom: 16px;
}

.reviews-wrapper {
    /* outline: 1px solid blue; */
    padding: 32px 0px;
}

.reviews-sub-wrapper {
    margin-bottom: 20px;
}

/* // images */

.pictures-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    overflow: hidden;
}

.pictures-big,
.pictures-small {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.pictures-big {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.pictures-small {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 16px;
    row-gap: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pictures-div-wrapper .image-div {
    /* outline: 1px solid salmon; */
    border-radius: unset;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.pictures-small .image-div {
    max-width: calc((100% - 16px) / 2);
    flex-basis: calc((100% - 16px) / 2);
    flex-grow: 1;
    flex-shrink: 1;
}

.no-image-div {
    background-color: #dddddd;
    color: white;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}