body {
    /* outline: 1px solid red; */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0px;
}

.root-wrapper {
    /* outline: 1px solid purle; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.root-sub-wrapper {
    /* outline: 1px solid black; */
    padding: 0 80px;
    border-bottom: 1px solid #dddddd;
}

.error-messages-wrapper {
    margin-top: 6px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: rgb(193, 53, 21);
    /* padding: 4px; */
}

ul {
    margin: 0px;
    padding: 0px;
}

span.error-messages {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}