body {
    /* outline: 1px solid red; */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0px;
}

.root-wrapper {
    /* outline: 1px solid black; */
    padding: 0 80px;
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
}