.signup-all-wrapper {
    /* outline: 2px solid yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 704px;
    max-width: 568px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.signup-all {
    /* border: 1px solid red; */
    max-height: 500px;
    overflow: scroll;
    background: white;
    padding: 24px;
}

.fullName-wrapper,
.birthday-wrapper,
.email-username-wrapper,
.password-wrapper,
.conditions-wrapper {
    margin-bottom: 24px;
}

form {
    /* border: 1px solid red; */
    color: #222222;
    font-size: 16px;
}

.signup {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.signup.inputs {
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 20px;
}

input {
    background: transparent;
    background-color: transparent;
    border: none;
    padding: 0px;
}

input:focus {
    outline: none;
    background: transparent;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.firstName,
.username,
.password {
    border: 1px solid #B0B0B0;
    border-radius: 8px 8px 0px 0px;
    /* padding: 12px; */
}

.lastName,
.email,
.passwordConfirm {
    border: 1px solid #B0B0B0;
    border-top: 0px;
    border-radius: 0px 0px 8px 8px;
}

.birthday {
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    padding: 12px;
}

.radius-wrapper {
    padding: 12px;
}

.radius-wrapper:focus-within,
.birthday:focus-within {
    outline: 2px solid #222222;
    outline-offset: -1px;
    border-radius: 8px;
}

.signup.button-div {
    margin-top: 16px;
    margin-bottom: 24px;
}

.singup.welcome {
    margin-top: 8px;
    margin-bottom: 24px;
    /* border: 1px solid red; */
}

.signup-all-wrapper h3 {
    font-size: 22px;
    font-weight: 800;
    color: #222222;
    margin: 0px;
    margin-bottom: 8px;
    /* border: 1px solid red; */
}

/* ---------------------------------------- comment related ---------------------------------------- */
.signup-comments {
    font-size: 12px;
    color: rgb(113, 113, 113);
    line-height: 16px;
    font-weight: 400;
}

.signup-all-wrapper label,
.signup-all-wrapper input {
    color: rgb(113, 113, 113);
}