.navigation-all-wrapper {
    /* outline: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    max-width: 1760px;
    width: 100%;
    margin: 0 auto;
    font-family: inherit
}

.navigation-sub-wrapper {
    /* outline: 1px solid blue; */
}

.navigation-sub-wrapper.side1,
.navigation-sub-wrapper.side2 {
    flex: 1 0 140px;
}

.navigation-sub-wrapper.center {
    flex: 0 1 auto;
    min-width: 348px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
}

.navigation-sub-wrapper.side2 {
    display: flex;
    justify-content: right;
    column-gap: 12px;
}

.airbnb-icon {
    color: #ff385c;
    position: relative;
    display: flex;
    align-items: center;
}

.airbnb-logo {
    width: 30px;
    height: 45px;
    transform: rotate(45deg);
    position: absolute;
    left: 0px;
}

.airbnb-text-air {
    width: 61px;
    height: 32px;
    position: absolute;
    left: 36px;
    top: -10px
}

.airbnb-text-bnb {
    clip-path: inset(0px 0px 0px 62px);
    width: 102px;
    height: 32px;
    position: absolute;
    left: -31px;
    top: -10px
}

.navBar-button {
    background: none;
    border: none;
    border: 1px solid #dddddd;
    border-radius: 21px;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 58px;
    height: 30px;
    cursor: pointer;
}

.navBar-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.menu-all-wrapper {
    position: relative;
    color: #222222;
}

.menu-all-wrapper > .navlinks {
    /* outline: 1px solid red; */
    position: absolute;
    right: 0%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 12px;
    margin-top: 17px;
    min-width: 240px;
    color: #222222;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.logout-button-wrapper {
    border-top: 1px solid #dddddd;
    padding-bottom: 12px;
    padding-top: 8px;
    color: inherit;
}

.profile-wrapper {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 12px;
    padding-top: 12px;
    color: inherit;
}

.profile-wrapper-sub {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: inherit;
    padding: 4px 16px;
}

.logout-button-sub {
    /* background-color: rebeccapurple; */
    color: #222222;
    padding: 8px 16px;
    cursor: pointer;
}

.logout-button-sub:hover,
.menu-dropdown-sub:hover {
    background-color: rgb(245, 245, 245);
}


.menu-dropdown {
    /* outline: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    color: inherit;
    margin: 8px 0px;
}

.menu-dropdown-sub {
    padding: 8px 16px;
    /* outline: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.create-listing-button {
    color: #222222;
}

.logout-button-wrapper button,
.menu-dropdown button {
    background: none;
    border: none;
    text-align: left;
    padding: 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    color: #222222;
}

.menu-dropdown a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

@media (max-width: 950px) {
    .navigation-all-wrapper {
        justify-content: left;
        min-width: unset;
    }

    .navigation-sub-wrapper.center {
        justify-content: left;
        min-width: 100px;
        padding: 0px;
        padding-right: 6px
    }

    .navigation-sub-wrapper.side1 {
        flex: 0 0 45px;
    }

    .navigation-sub-wrapper.side2 {
        flex: 1 0 auto;
        column-gap: 6px;
    }
}

@media (max-width: 744px) {
    .navigation-sub-wrapper.side1 {
        display: none;
    }
}